html
  head
    title Todos
    script(src='/packages/popper.js/umd/popper.min.js')
    script(src='/packages/jquery/jquery.min.js')
    script(src='/packages/bootstrap/js/bootstrap.min.js')
    link(rel="stylesheet" href="/packages/bootstrap/css/bootstrap.min.css")
  body
    .container
      .row
        .col-sm-6.mx-auto.mt-4
          block content
